---
layout: default-de
title: "Mögliche Koalitionen bei der Bundestagswahl 2013 (HOCHRECHNUNG)"
lang: de
libs:
    jquery: true
    raphael: true
---

<div class="vis-coalitions" data-url="hochrechnungen.json">
    <div class="info"></div>
    <div class="desc">
        <div class="desc-intro">
        </div>
        <div class="desc-impossible">
            <p>Zum Vergleich sind auf der rechten Seite die rechnerisch unmöglichen Koalitionen gegenübergestellt.</p>
            <p>Die Zahl über den Balken zeigt, wieviele Sitze zur Mehrheit fehlen.</p>
        </div>
        <div class="desc-possible" data-end="Die linke Seite zeigt alle rechnerisch möglichen Regierungskonstellationen. Neben der großen Koalition wären (theoretisch) auch die Koalitionen aus CDU/CSU und DIE LINKE, Schwarz-Grün, sowie mit einer Mehrheit von 3 Sitzen auch Rot-Rot-Grün möglich. Die Zahl über den Balken zeigt, wieviele Sitze die jeweilige Koalition (oder Partei) über die erforderliche Mehrheit hinaus hat.">
            Die linke Seite zeigt die nach der aktuellen Hochrechnung rechnerisch möglichen Regierungskonstellationen. Dabei werden auch politisch unwahrscheinliche Koalitionen berücksichtigt. Die Zahl über den Balken zeigt, wieviele Sitze die jeweilige Koalition (oder Partei) über die erforderliche Mehrheit hinaus hat.
        </div>
    </div>
    <div id="canvas"></div>
</div>
<em>Hochrechnung auswählen:</em>
<div style="overflow-x: scroll;height: 50px;padding-top:5px">
    <ul class="prognosen"></ul>
</div>
<div class="help">Hochrechnungen können auch mit den Pfeiltasten <span>⇽</span> und <span>⇾</span> umgeschaltet werden</div>

{% javascript_asset_tag coalitions %}
- _assets/js/raphael.easing.js
- _assets/js/jquery.swipe-events.js
- _assets/js/common.js.coffee
- _assets/js/coalitions.js.coffee
{% endjavascript_asset_tag %}

