// styles for coalition page

body

    em
        font-style: italic

    a
        color: #900

    #canvas
        height: 400px

    .help
        font-size: 11px
        color: #999
        text-align: right
        display: none

        span
            border: 1px solid #999
            border-radius: 2px
            display: inline-block
            padding: 0 2px
            line-height: 11px
            box-shadow: inset 0 0 3px #eee

    .vis-coalitions
        position: relative
        margin: 50px 40px 40px 40px

        .info
            position: absolute
            top: -30px
            right: -10px
            z-index: 1000
            font-size: 14px
            color: #777

        .info.end
            color: #222
            font-weight: bold

        .desc
            div
                position: absolute
                z-index: 100
                font-family: Georgia

                p
                    margin-top: 0
                    margin-bottom: 10px

            .desc-possible
                background: #fff url(img/arr-left.png) left 10px no-repeat
                top: 10px
                width: 480px
                padding: 5px
                padding-left: 25px
                text-align: left
                min-height: 50px

            .desc-impossible
                background: #f5f5f5 url(img/arr-right.png) right 10px no-repeat
                bottom: 30px
                width: 170px
                padding: 5px
                padding-right: 25px
                text-align: right

            .desc-intro
                background: #fff
                font-style: normal
                left: -40px
                top: -20px
                width: 330px
                height: 400px
                padding-right: 20px
                padding-bottom: 20px

                btton
                    height: 80px
                    font-size: 20px
                    width: 270px

        .label
            position: absolute
            font-size: 12px
            line-height: 16px

        .label.left
            text-align: right
            left: -30px

        .label.right
            text-align: right
            right: -30px

        .label.center
            text-align: center
            width: 80px

        .label.bottom
            top: 400px
            font-weight: bold
            color: #888

        .label.bottom.winner
            color: #000
            font-size: 14px

        .label.top span
            font-weight: bold
            background: #fff
            padding: 0 5px

        .label.negative
            color: #c11
            span
                background: #f5f5f5!important

        .label.min-seats
            font-weight: bold

    .prognosen

        list-style: none
        margin: 0
        padding: 0
        white-space: nowrap

        li
            display: inline-block
            margin-right: 10px
            line-height: 15px
            color: #900
            cursor: pointer

            .provider
                color: #222

        li.active
            div
                font-weight: bold

        li:hover
            div
                text-decoration: underline!important

            .provider
                text-decoration: none!important

